:root{
    --swiper-theme-color: #0D0D0D;
}
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,30px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,4px));
    display: inline-block;
    background: #a08484;
    border: 10px;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
}
.swiper-pagination-bullet{
    border-radius: 2px;
}

.business-bg{
    background: url(../../../Assets/background/bg.jpg);
    background-repeat: no-repeat;
}