.listing {
  width: 25%;
  min-width: 300px;
  max-width: 400px;
  position: relative;
  margin: 20px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  overflow: hidden;
}

.listing::before {
  content: "";
  display: block;
  padding-bottom: calc((5 / 4) * 100%);
}

.listing__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.listing__image-container {
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.listing__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.listing__details {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0px 25px;
  position: relative;
}

.listing__type {
  position: absolute;
  font-size: 0.8rem;
  right: 10px;
  top: 10px;
  padding: 5px 10px;
  border-radius: 15px;
}

.listing__row {
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

.listing__price {
  font-size: 1rem;
  margin-top: 0.5rem;
  text-align: start;
}

.listing__address {
  color: #737373;
}
