/* need for both design don't remove this code */
:root {
  --font-color: #fff;
  --background-color: #ECF0F3;
  --link-color: #fff;
  --btn-bg: #FB4051;
  --color: #fff;
  --option-color: #2A303C;
}

/* 2 */
[data-theme="dark"] {
  --font-color: #A6ADBA;
  --background-color: #2A303C;
  --link-color: lightblue;
  --btn-bg: #C74B50;
  --option-color: #A6ADBA;
  --color: #C74B50
}

/* 3 */
body {
  background-color: var(--background-color);
  /* color: var(--font-color); */
}

a {
  color: var(--link-color);
}
.btn{
  background: var(--btn-bg);
  border-color:var(--btn-bg) ;
  color: #fff;
}
.btn:hover{
  color: var(--btn-bg);
  border: var(--btn-bg);

}
.contactUs input,
.contactUs select,
.contactUs textarea
{
background: var(--background-color);
}
select:invalid,
select option{
  color: var(--option-color);
}
#container:before{
  background: var(--btn-bg);
}
/* don't remove upper code */
/* Custom Dark Mode Toggle Element */

/* 1st design */



.toggle-theme-wrapper {
    display: flex;
    /* flex-direction: row; */
    /* align-items: center; */
    /* gap: 4px; */

    position: fixed;
    bottom: 50%;
    left: 10px;
    z-index: 20;
  }
  
  /* .toggle-theme-wrapper span {
    font-size: 25px;
  }
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 28px;
    width: 55px;
  }
  
  .toggle-theme input {
    display: none;
  }
  
  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    content: "";
    background-color: #fff;
    bottom: 4px;
    height: 20px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 20px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: #FB4051;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } */



  /* 2nd design */


  
#toggle_checkbox
{
    display: none;
}

.toggle-theme-wrapper label
{
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 85px;
    height: 45px;
    margin: 0 auto;
    background-color: #77b5fe;
    border-radius: 56px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s ease background-color;
    overflow: hidden;
}

#star
{
    position: absolute;
    top: 13px;
    left: 13px;
    width: 25px;
    height: 25px;
    background-color: #fafd0f;
    transform: scale(1);
    border-radius: 50%;
    transition: 0.3s ease top, 0.3s ease left, 0.3s ease transform, 0.3s ease background-color;
    z-index: 1;
}

#star-1
{
    position: relative;
}

#star-2
{
    position: absolute;
    transform: rotateZ(36deg);
}

.star
{
    top: 0;
    left: -4px;
    font-size: 45px;
    line-height: 15px;
    color: #fafd0f;
    transition: 0.3s ease color;
}

#moon
{
    position: absolute;
    bottom: -52px;
    right: 8px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease bottom;
}

#moon:before
{
    content: "";
    position: absolute;
    top: -10px;
    left: -14px;
    width: 40px;
    height: 40px;
    background-color:#03a9f4;
    border-radius: 50%;
    transition: 0.3s ease background-color;
}

#toggle_checkbox:checked + label
{
    background-color: #000;
}

#toggle_checkbox:checked + label #star
{
    top: 3px;
    left: 64px;
    transform: scale(0.3);
    background-color: yellow;
}

#toggle_checkbox:checked + label .star
{
    color: yellow;
}

#toggle_checkbox:checked + label #moon
{
    bottom: 5px;
}

#toggle_checkbox:checked + label #moon:before
{
    background-color: #000;
}