.button{
    position: fixed;
    width: 100%;
    margin-left: 0%;
    bottom: 10px;
    height: 20px;
    margin-bottom: 40px;
    font-size: 2rem;
    z-index: 1;
    cursor: pointer;
    color: rgb(246, 51, 51);
    }